<header class="bg-blue-600 p-1">
    <div class="container mx-auto">
        <div class="flex justify-between items-stretch">
            <figure class="logoHeader flex flex-nowrap">
                <img src="assets/logos/cv_logo.png" alt="">
                <figcaption class="text-white mx-3 pt-3.5">
                    Creador CV
                </figcaption>
            </figure>
            <div>
                <ng-template [ngIf]="imageAvatar == null" [ngIfElse]="avatar">
                    <p-avatar label="P" styleClass="p-mr-2" size="large" shape="circle" (click)="menu.toggle($event)"></p-avatar>
                </ng-template>
                <ng-template #avatar>
                    <img  
                        [src]="imageAvatar | safeHtml" 
                        alt=""
                        class="avatarImage"
                        (click)="menu.toggle($event)"
                    >
                </ng-template>
                <p-menu #menu [popup]="true" [model]="items"></p-menu>
            </div>
        </div>
    </div>
</header>
  