<div class="wrapper-login flex flex-wrap ">
    <div class="flex-1 flex flex-col align-items-center justify-content-center shadow-3">
        <img src="../../../assets/logos/logo_blanco.png" class="w-1" alt="">
        <h1 class="text-white">Inicia sesión.</h1>
        <form  
            [formGroup]="formLogin" 
            (ngSubmit)="send()"
            class="form-login w-4"
            autocomplete="off"
        >
            <div class="field mt-5">
                <div class="flex flex-col">
                    <label class="text-white" for="user">Usuario:</label>
                    <input 
                        id="user" 
                        type="text" 
                        aria-describedby="user-help" 
                        class="w-full" 
                        pInputText
                        formControlName="email"
                    />
                    <small 
                        *ngIf="correoNoValido" 
                        id="user-help" 
                        class="p-error"
                    >
                        El correo es requerido.
                    </small>
                </div>
            </div>
            <div class="field mt-5">
                <div class="flex flex-col">
                    <label class="text-white" for="password">Password:</label>
                    <input 
                        id="password" 
                        type="password" 
                        aria-describedby="password-help" 
                        class="w-full" 
                        pInputText
                        formControlName="password"
                    />
                    <small 
                        *ngIf="passwordNoValido" 
                        id="password-help" 
                        class="p-error"
                    >
                        La contraseña es requerida.
                    </small>
                </div>
                
            </div>
            <button 
                [disabled]="formLogin.invalid"
                pButton 
                label="Acceder" 
                class="w-full"
            ></button>
            <!-- <div>
                Valido: {{ formLogin.valid | json }}
            </div>
            <div>
                <pre>
                    {{ formLogin.value | json }}
                </pre>
            </div> -->
        </form>
    </div>
</div>