<div class="wrapper-login flex flex-wrap bg-white">
    <div class="flex-1 flex align-items-center justify-content-center shadow-3">
        <form  
            [formGroup]="formLogin" 
            (ngSubmit)="send()"
            class="form-login w-4"
            autocomplete="off"
        >
            <div class="field mt-5">
                <span class="p-float-label">
                    <input 
                        id="float-input" 
                        type="text" 
                        pInputText 
                        class="w-full"
                        formControlName="email"
                        [class.is-invalid]="correoNoValido"
                    /> 
                    <label for="float-input">Username</label>
                    <small *ngIf="correoNoValido" class="text-danger">
                        El valor es requerido y debe ser mayor a 5 caracteres
                    </small>
                </span>
            </div>
            <div class="field mt-5">
                <span class="p-float-label">
                    <input 
                        type="password" 
                        pInputText  
                        class="w-full"
                        formControlName="password"
                    />
                    <label for="float-input">Password</label>
                    <small *ngIf="passwordNoValido" class="text-danger">
                        Contraseña no validad
                    </small>
                </span>
            </div>
            <button 
                [disabled]="formLogin.invalid"
                pButton 
                label="Acceder" 
                class="w-full"
            ></button>
            <div>
                Valido: {{ formLogin.valid | json }}
            </div>
            <div>
                <pre>
                    {{ formLogin.value | json }}
                </pre>
            </div>
        </form>
    </div>
</div>