<app-form-login></app-form-login>



<div class="card flex flex-row-reverse flex-wrap">
    <div class="flex align-items-center justify-content-center font-bold text-blue-500 m-2 shadow-3" style="min-width: 200px; min-height: 100px">1</div>
    <div class="flex align-items-center justify-content-center font-bold text-blue-500 m-2 shadow-3" style="min-width: 200px; min-height: 100px">2</div>
    <div class="flex align-items-center justify-content-center font-bold text-blue-500 m-2 shadow-3" style="min-width: 200px; min-height: 100px">3</div>
</div>