<nav class="nav bg-blue-600 h-full">
    <ul class="sticky">
        <li class="w-full flex">
            <a routerLink="home" routerLinkActive="active" class="flex w-full" pTooltip="Inicio">
                <span class="pi pi-fw pi-home text-1xl m-auto w-full"></span>
            </a>
        </li>
        <li class="w-full flex" pTooltip="Perfil">
            <a routerLink="profile" routerLinkActive="active" class="flex w-full">
                <span class="pi pi-fw pi-user text-1xl m-auto w-full"></span>
            </a>
        </li>
        <li class="w-full flex" pTooltip="Información adicional">
            <a routerLink="informacion-adicional" routerLinkActive="active" class="flex w-full">
                <span class="pi pi-fw pi-id-card text-1xl m-auto w-full"></span>
            </a>
        </li>
        <li class="w-full flex" pTooltip="Descripción">
            <a routerLink="descripcion" routerLinkActive="active" class="flex w-full">
                <span class="pi pi-fw pi-user-edit text-1xl m-auto w-full"></span>
            </a>
        </li>
        <li class="w-full flex" pTooltip="Experiencia laboral">
            <a routerLink="experiencia-laboral" routerLinkActive="active" class="flex w-full">
                <span class="pi pi-fw pi-briefcase text-1xl m-auto w-full"></span>
            </a>
        </li>
        <li class="w-full flex" pTooltip="Estudios y certificaciones">
            <a routerLink="estudios-y-certificaciones" routerLinkActive="active" class="flex w-full">
                <span class="fas fa-graduation-cap text-center text-1xl m-auto w-full"></span>
            </a>
        </li>
        <li class="w-full flex" pTooltip="Destrezas">
            <a routerLink="destrezas" routerLinkActive="active" class="flex w-full">
                <span class="fas fa-clipboard-list text-center text-1xl m-auto w-full"></span>
            </a>
        </li>
        <li class="w-full flex" pTooltip="Idiomas">
            <a routerLink="idiomas" routerLinkActive="active" class="flex w-full">
                <span class="fas fa-language text-center text-1xl m-auto w-full"></span>
            </a>
        </li>
        <li class="w-full flex" pTooltip="Plantilla">
            <a routerLink="plantilla" routerLinkActive="active" class="flex w-full">
                <span class="fas fa-money-check-alt text-center text-1xl m-auto w-full"></span>
            </a>
        </li>
        <li class="w-full flex" pTooltip="Descargar CV">
            <a routerLink="descargar" routerLinkActive="active" class="flex w-full">
                <span class="pi pi-fw pi-file-pdf text-1xl m-auto w-full"></span>
            </a>
        </li>
    </ul>
</nav>