<nav class="nav bg-blue-600 h-full">
    <ul class="sticky">
        <li class="w-full flex">
            <a routerLink="home" routerLinkActive="active" class="flex w-full" pTooltip="Inicio">
                <span class="pi pi-fw pi-home text-2xl m-auto w-full"></span>
            </a>
        </li>
        <li class="w-full flex" pTooltip="Perfil">
            <a routerLink="profile" routerLinkActive="active" class="flex w-full">
                <span class="pi pi-fw pi-user text-2xl m-auto w-full"></span>
            </a>
        </li>
    </ul>
</nav>