.nav{
    width: 50px;
    display: block;
}
.nav ul{
    width: 50px;
    top: 63px;
}
.nav li{
    width: 50px;
    height: 50px;
    color: white;
}
nav li:hover{
    color: black;
    background: white;
}
.nav li a.active{
    color: black;
    background: white;
}