<nav class="nav bg-gray-900 h-full">
    <ul>
        <li class="w-full h-20 flex">
            <a routerLink="home" routerLinkActive="active" class="flex w-full" pTooltip="Inicio">
                <span class="pi pi-fw pi-home text-4xl m-auto w-full"></span>
            </a>
        </li>
        <li class="w-full h-20 flex" pTooltip="Perfil">
            <a routerLink="profile" routerLinkActive="active" class="flex w-full">
                <span class="pi pi-fw pi-user text-4xl m-auto w-full"></span>
            </a>
        </li>
    </ul>
</nav>