<div class="wrapperDash">
    <div class="wrapperHeader sticky top-0">
        <app-header></app-header>
    </div>
    <div class="wrapperContent h-full">
        <div class="wrapperNavbar">
            <app-navbar></app-navbar>
        </div>
        <div class="wrapperContentMain bg-gray-200">
            <div class="container mx-auto p-3 m-3 bg-gray-50 rounded shadow">
                <router-outlet></router-outlet>
            </div>
            <div class="wrapperFooter">
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</div>